<!-- <pre style="text-align: left">{{ card | json }}</pre> -->

<loader ng-show="submittingCard"></loader>

<form name="cardForm" ng-if="!submittingCard" ng-submit="cardForm.$valid && submitCard(card)" novalidate>

    <error-message ng-show="cardForm.$dirty && cardForm.question.$error.required">
        Question is required.
    </error-message>
    <error-message ng-show="cardForm.question.$error.minlength">
        Question is too short.
    </error-message>

    Question<input name="question" required ng-minlength="15" type="text" ng-model="card.question" /><br />

    <error-message ng-show="cardForm.$submitted && cardForm.category.$error.required">
        Category is required!
    </error-message>

    Category<select name="category" required ng-model="card.category">
        <option>MongoDB</option>
        <option>Express</option>
        <option>Angular</option>
        <option>Node</option>
    </select><br />

    Answers:<div ng-repeat="answer in card.answers">
        <input required name="answerText{{ $index + 1 }}" ng-maxlength="40" type="text" ng-model="answer.text" />
        <input type="checkbox" ng-model="answer.correct" />
    </div>

    <br />
    <button type="submit" ng-show="pageObjective === 'add'">Add new card!</button>
    <button type="submit" ng-show="pageObjective === 'edit'">Submit changes!</button>
</form>
